.box1 {
    background-color: #F44336;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
  }
  
.box2 {
    background-color: #E91E63;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}
  
.box3 {
    background-color: #9C27B0;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}
  
.box4 {
    background-color: #3F51B5;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}