.hero {
    background-color: #863ae8;
    height: 100vh;
    color: white;
    text-align: center;
  
    /* Don't worry about this code yet */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.hero h1,
.hero p {
    width: 75%;
    max-width: 900px;
    margin: 16px 0;
}
  
.hero hr {
    width: 50%;
    margin: 32px 0;
}