.navbar {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.navbar .left {
    font-size: 32px;
    font-weight: bold;
}

.navbar .right {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right a {
    text-decoration: none;
    color: black;
}

.navbar .right a:hover {
    text-decoration: underline;
}
  
.navbar .right img {
    width: 24px;
    height: 24px;
}

/* Styles + Animation for Hamburger */

.navbar .bar {
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
  }
  
.navbar .hamburger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar {
      padding: 16px 24px;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      background-color: white;
      width: 100%;
    }

    .navbar .right {
      display: none;
    }

    .navbar .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

.hamburger .bar:nth-child(1) {
    animation: flipBar1 1s infinite;
}

.hamburger .bar:nth-child(2) {
    animation: fadeBar2 1s infinite;
}

.hamburger .bar:nth-child(3) {
    animation: flipBar3 1s infinite;
}

@keyframes flipBar1 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(45deg) translate(4px, 10px);
    }
}
  
@keyframes fadeBar2 {
    from {
      transform: scaleX(1);
      opacity: 1;
    }
    to {
      transform: scaleX(0);
      opacity: 0;
    }
}
  
@keyframes flipBar3 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-45deg) translate(4px, -10px);
    }
}
